<div class="sidebar-container">
    <div class="flex flex-column gap-1">
      <a class="sidebar-item" routerLink="/admin/users" routerLinkActive="active">
        <i class="pi pi-users"></i>
        <span>Users</span>
      </a>
      <a class="sidebar-item" routerLink="/admin/artists" routerLinkActive="active">
        <i class="pi pi-star"></i>
        <span>Artists</span>
      </a>
      <a class="sidebar-item" routerLink="/admin/events" routerLinkActive="active">
        <i class="pi pi-calendar"></i>
        <span>Events</span>
      </a>
      <a class="sidebar-item" routerLink="/admin/tickets" routerLinkActive="active">
        <i class="pi pi-ticket"></i>
        <span>Tickets</span>
      </a>
    </div>
  </div>
  