<div class="sidebar-container">
    <div class="flex flex-column gap-1">
        <a class="sidebar-item active">
            <i class="pi pi-users"></i>
            <span>Users</span>
        </a>
        <a class="sidebar-item">
            <i class="pi pi-star"></i>
            <span>Artists</span>
        </a>
        <a class="sidebar-item">
            <i class="pi pi-calendar"></i>
            <span>Events</span>
        </a>
        <a class="sidebar-item">
            <i class="pi pi-ticket"></i>
            <span>Tickets</span>
        </a>
    </div>
</div>
