<div class="top-bar">
    <div class="logo-section">
        <a routerLink="/" class="home-link">
            <img src="public/favicon.ico" alt="Ticketio Logo" class="logo-img">
            <h1>Ticketio</h1>
        </a>
    </div>
    <div class="top-bar-right">
        <div class="search-box">
            <i class="pi pi-search search-icon"></i>
            <input type="text" placeholder="Search..." />
        </div>
        <div class="user-section" *ngIf="currentUser">
            <i class="pi pi-user"></i>
            <span>{{ currentUser.name }}</span>
        </div>
        <i class="pi pi-sign-out logout-icon" (click)="logout()" pTooltip="Déconnexion"></i>
    </div>
</div>

<p-confirmDialog 
    [style]="{width: '450px'}"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [draggable]="false">
</p-confirmDialog>
