<div class="main-content-wrapper">
    <div class="scrollable-content">
        <div class="content-section">
            <h2>Artists</h2>

            <p-table [value]="artists" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5%">ID</th>
                        <th style="width: 40%">Nom</th>
                        <th style="width: 35%">Genre</th>
                        <th style="width: 20%">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-artist>
                    <tr>
                        <td>{{ artist.artistId }}</td>
                        <td>{{ artist.name }}</td>
                        <td>{{ artist.genre }}</td>
                        <td>
                            <div class="flex gap-2">
                                <a class="action-link">Éditer</a>
                                <a class="action-link">Supp</a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <app-footer></app-footer>
</div>
